<h1>Page Controller</h1>

<div>
  <%= button_to 'Info', { action: 'info'} %><br>
  <%= button_to 'Warn', { action: 'warn'} %><br>
  <%= button_to 'Error', { action: 'error'} %><br>
  <%= button_to 'Exception', { action: 'exception'} %><br>
  <%= button_to 'Rails.logger.info', { action: 'rails_info'} %><br>
  <%= button_to 'Rails.logger.error', { action: 'rails_error'} %><br>
  <%= link_to "Rails.logger.warn", "/rails_warn" %><br><br>

  <h2><%= link_to "RRTools LiveLog Page", "/rrtools/live-log", target: "_blank" %></h2>
<div>


